# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/
env/
.env
.env.docker
.env.local
docker-compose_phala.yml

.idea/
.vscode/
*.swp
*.swo

*.log

account.json
worker_key.json
justfile
backup.json

.llm_cache/
.DS_Store